@charset "UTF-8";

.FreeBoardTable {
		margin: auto;
		margin-top: 50px;
		text-align:center;
		width: 50%;
		height: 400px;
		background-color: white; 
		text-shadow: 3px 4px 1.25px rgba(0, 0, 0, 0.1); 
}
.FreeBoardTable tr td a:link {
		color: black;
		text-decoration: none;
}
.FreeBoardTable tr td a:visited {
		color: silver;
		text-decoration: none;
}
.FreeBoardTable tr th {
		border-bottom: 2px dotted silver;
}
.FreeBoardTable tr td {
		border-bottom: 2px dotted silver;
}
.FreeBoardPagingDiv {
		margin: auto;
		margin-top: 5px;
		margin-bottom: 10px;
		text-align: center;
		font-size: 16px;
		box-shadow: 3px 4px 1.25px 3.75px rgba(0, 0, 0, 0); 
		text-shadow: 3px 4px 1.25px rgba(0, 0, 0, 0.15); 
}
.FreeBoardTable .top td {
		height: 40px;
}
.FreeBoardTableContent {
		text-align:left;
		padding:20px;
		vertical-align: top;
		overflow: scroll;
}
.FreeBoardPagingDiv a:link {
		text-decoration: none;
}
.FreeBoardPagingDiv a:visited {
		text-decoration: none;
}
.thisPage {
		font-size: 20px;
		color: #F7F7F7;
		box-shadow: 3px 4px 1.25px 3.75px rgba(0, 0, 0, 0); 
		text-shadow: 3px 4px 1.25px rgba(0, 0, 0, 0.15); 
}
.otherPage {
		font-size: 16px;
		color: black;
		box-shadow: 3px 4px 1.25px 3.75px rgba(0, 0, 0, 0); 
		text-shadow: 3px 4px 1.25px rgba(0, 0, 0, 0.15); 
}
.FreeBoardSearchDiv	{
		margin: auto;
		text-align: center;
		font-size: 16px;
}
.Btn {
	background:#F7F7F7;
	background:linear-gradient(#787878, #454545);
	font-weight:bold;
	line-height:0px;
	border-radius:3px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:12px;
	color:#F7F7F7;
	width:60px;
	padding:12px;
	border-width:1px;
	border-style:solid;
}
.Btn:active {
	position:relative;
	top:4px
}
.Btn:hover {
	background:#454545;
	background:linear-gradient(#454545, #787878);
}
select {
	background:#F7F7F7;
	background:linear-gradient(#787878, #454545);
	font-weight:bold;
	border-radius:3px;
	vertical-align:middle;
	display:inline-block;
	font-size:12px;
	color:#F7F7F7;
	width:120px;
	padding:4px;
	border-width:1px;
	border-style:solid;
}
select:active {
	position:relative;
	top:4px
}
select:hover {
	background:#454545;
	background:linear-gradient(#454545, #787878);
}
option{
	background:#454545;
	color:#F7F7F7;
	font-weight:bold;
}
textType{
	background:#454545;
	color:#F7F7F7;
	font-weight:bold;
}