@charset "UTF-8";

.movieTop {
	width: 100%;
	height: 300px;
	margin: 0px;
	padding-top: 50px;
	padding-bottom: 50px
}

.movieTop .movieSearchView {
	width: 1000px;
	padding: 50px;
	margin: auto;
	border-style: double;
	text-align: center;
	width: 1000px;
	border-style: double;
	background-color: white;
	border-style: double
}

.movieSearchView label {
	font-size: 25px;
	font-weight: bold;
}

.movieSearchView input[type='text'] {
	width: 300px;
	height: 20px;
	margin-left: 10px;
	margin-right: 5px;
}

.movieSearchView .movieSearchCheckbox {
	margin: 20px;
}

.movieSearchView .movieSearchCheckbox label {
	font-size: 20px;
}

#movieMain, #movieSearch {
	background-color: #7B7B7B;
}

#movieMain #mainlist {
	padding-left: 0px;
	padding-bottom: 50px;
}

#movieMain #mainlist .movieGenreInfoList {
	margin-left: 10px;
	margin-top: 25px;
	margin-right: 10px;
}

#movieMain #mainlist .headerdiv {
	display: flex;
}

#movieMain #mainlist .headerdiv h2 {
	font-size: 35px;
	margin: 0px;
	float: left;
}

#movieMain #mainlist .headerdiv a {
	margin-left: 5px;
	position: relative;
	top: 15px;
}

#movieMain #mainlist .movieGenreInfoList ul {
	clear: left;
	margin: 0px;
	padding: 0px;
}

#movieMain #mainlist .movieGenreInfoList ul li {
	list-style: none;
	display: inline-block;
	padding-left: 0px;
	margin: 0px;
}

#movieMain #mainlist .movieGenreInfoList ul li .MovieInfoClassDiv {
	text-align: center;
	font-size: 20px;
	margin-left: 10px;
}

#movieMain #mainlist .movieGenreInfoList ul li .MovieInfoClassDiv a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#movieMain #mainlist .movieGenreInfoList ul li .MovieInfoClassDiv a:hover {
	color: blue;
}

#movieMain #mainlist .movieGenreInfoList ul li .MovieInfoClassDiv img {
	width: 100px;
}

#movieSearch #movieSearchList {
	margin-left: 30px;
	margin-right: 30px;
}

#movieSearch #movieSearchList h2 {
	font-size: 30px;
	font-weight: bold;
}

#movieSearch #movieSearchList .movieSearchResult .movieSearchResultElement {
	margin: 10px;
	text-align: center;
}

#movieSearch #movieSearchList .movieSearchResult .movieSearchResultElement img {
	width: 200px;
}

#movieSearch #movieSearchList .movieSearchResult .movieSearchResultElement a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#movieSearch #movieSearchList .movieSearchResult .movieSearchResultElement a:hover {
	color: blue;
}

#movieSearch #movieSearchPageNum {
	text-align: center;
	margin: 20px;
}

#movieSearch #movieSearchPageNum a {
	text-decoration: none;
	font-size: 15px;
	color: blue;
}

#movieSearch #movieSearchPageNum a:hover {
	color: white;
}

#movieReview {
	background-color: #E7E7E7;
	padding-bottom: 50px;
}

#movieReview #movieViewBriefIntro {
	width: 40%;
	height: 500px;
	margin: auto;
	margin-bottom: 30px;
	margin: auto;
}

#movieReview #movieViewBriefIntro #movieReviewRepImg {
	width: 300px;
	float: left;
	margin-right: 20px;
}

#movieReview #movieViewBriefIntro #movieViewBriefIntroInfo {
	float: left;
}

#movieReview #movieViewBriefIntro #movieViewBriefIntroInfo #movieReviewAge {
	font-size: 15px;
	color: #404040;
}

#movieReview #movieViewBriefIntro #movieViewBriefIntroInfo h3 {
	font-size: 60px;
	font-weight: bold;
	margin-right: 20px;
}

#movieReview #movieViewBriefIntro #movieReviewRate {
	font-size: 30px;
	margin-top: 10px;
	text-shadow: 3px 4px 1.25px rgba(0,0,0,0.1);
}

#movieReview #movieViewBriefIntro #movieViewBriefIntroInfo .movieViewBriefGenreInfo {
	float: left;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#movieReview #movieRevieMoreInfo {
	background-color: #B3B3B3;
	text-align: center;
}

#movieReview #movieRevieMoreInfo ul li {
	list-style: none;
	display: inline-block;
	margin: 10px;
	margin-left: 20px;
}

#movieReview #movieRevieMoreInfo ul li a {
	text-decoration: none;
	color: black;
	font-size: 30px;
	font-weight: bold;
}

#movieReview #movieRevieMoreInfo ul li a:hover {
	color: white;
}

#movieReview #movieReviewInfomation {
	width: 60%;
	margin: auto;
	padding: 20px;
}

#movieReview #movieReviewInfomation h3 {
	font-size: 25px;
	font-weight: bold;
}

#movieReview #movieReviewInfomation #movieRevieInfoInfo {
	padding: 10px;
	font-weight: bold;
}

#movieReview #movieReviewInfomation .movieReviewCrewInfo {
	padding: 10px;
	font-size: 15px;
	float: left;
}

#movieReview #movieReviewInfomation .movieReviewCrewInfo img {
	width: 100px;
}

#movieReview #movieReviewInfomation .movieReviewPhoto {
	width: 500px;
	margin: auto;
}

#movieReview #movieReviewInfomation .movieReviewPhoto img {
	width: 500px;
	margin-top: 50px;
}

#movieReview #movieReviewInfomation .movieiFrame {
	width: 500px;
	margin: auto;
}

#movieReview .movieReviewRateInput {
	width: 70%;
	margin: auto;
}

#movieReview .movieReviewRateInput .rateAdd {
	width: 100%;
}

#movieReview .movieReviewRateInput .rateAdd input[type='text'] {
	width: 350px;
	height: 20px;
	margin-left: 10px;
	margin-right: 5px;
}

#movieReview #movieReviewInfomation #rateList {
	width: 400px;
	padding: 20px;
	margin: auto;
}

#movieReview #movieReviewInfomation #rateList .movieReviewRateCommAll .movieReviewRateScore .movieReviewRateStar {
	font-weight: bold;
	font-size: 20px;
	text-shadow: 3px 4px 1.25px rgba(0,0,0,0.1);
}
#movieReview #movieReviewInfomation #rateList .movieReviewRateCommAll .movieReviewRateScore .movieReviewRateId{
	font-weight: bold;
	font-size: 17px;
}
#movieReview #movieReviewInfomation #rateList .movieReviewRateCommAll .movieReviewRateComm{
	border-bottom: dashed;
	border-bottom-color: gray;
	padding-bottom: 15px;
}